root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.bat]
end_of_line = crlf

[{*.kt,kts}]
indent_size = 4

[{*.yml,toml}]
indent_size = 2
