*.jar
*.aar
*.apk
*.aab

.idea/
*.iml
*.ipr
*.iws

xcuserdata/
*.xcodeproj/*
*.xcscmblueprint
*.xccheckout
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

.gradle/
.kotlin/
build/
!gradle/wrapper/gradle-wrapper.jar

.DS_Store
local.properties
