[versions]
kotlin = "1.9.22"
androidGradlePlugin = "8.6.0"
composeMultiplatform = "1.6.0"
composeAndroid = "1.6.0"
composeAndroidCompilerPlugin = "1.5.10"

[plugins]
kotlin-multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
android-library = { id = "com.android.library", version.ref = "androidGradlePlugin" }
android-application = { id = "com.android.application", version.ref = "androidGradlePlugin" }
compose-multiplatform = { id = "org.jetbrains.compose", version.ref = "composeMultiplatform" }
maven-publish = { id = "com.vanniktech.maven.publish", version = "0.28.0" }

[libraries]
androidx-core = { module = "androidx.core:core", version = "1.12.0" }
compose-multiplatform-runtime = { module = "org.jetbrains.compose.runtime:runtime", version.ref = "composeMultiplatform" }
compose-multiplatform-foundation = { module = "org.jetbrains.compose.foundation:foundation", version.ref = "composeMultiplatform" }
compose-multiplatform-ui-util = { module = "org.jetbrains.compose.ui:ui-util", version.ref = "composeMultiplatform" }
compose-android-runtime = { module = "androidx.compose.runtime:runtime", version.ref = "composeAndroid" }
compose-android-foundation = { module = "androidx.compose.foundation:foundation", version.ref = "composeAndroid" }
compose-android-ui-util = { module = "androidx.compose.ui:ui-util", version.ref = "composeAndroid" }

# Test dependencies
junit4 = { module = "junit:junit", version = "4.13.2" }
compose-android-ui-test-junit4 = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "composeAndroid" }
compose-android-ui-test-manifest = { module = "androidx.compose.ui:ui-test-manifest", version.ref = "composeAndroid" }

# Sample dependencies
kotlinx-immutable-collections = { module = "org.jetbrains.kotlinx:kotlinx-collections-immutable", version = "0.3.7" }
compose-multiplatform-ui = { module = "org.jetbrains.compose.ui:ui", version.ref = "composeMultiplatform" }
compose-multiplatform-material3 = { module = "org.jetbrains.compose.material3:material3", version.ref = "composeMultiplatform" }
androidx-appcompat = { module = "androidx.appcompat:appcompat", version = "1.7.0" }
androidx-activity-compose = { module = "androidx.activity:activity-compose", version = "1.9.2" }
compose-android-ui = { module = "androidx.compose.ui:ui", version.ref = "composeAndroid" }
compose-android-material3 = { module = "androidx.compose.material3:material3", version = "1.3.0" }
